*               text=auto

# Source Code
*.rs            text diff=rust
*.toml          text diff=toml
Cargo.lock      text
*.sh            text eol=lf

# Exclude files from exporting
.gitattributes  export-ignore
.gitignore      export-ignore

# Documentation
*.md            text diff=markdown
*README*        text
*LICENSE*       text

# Configs
*.yml           text
*.yaml          text
*.config        text
.editorconfig   text
.gitattributes  text
.gitignore      text
Makefile        text

